[Unit]
Description=SLURM node daemon
After=network.target munge.service
Wants=munge.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmd
ExecStart=/usr/local/sbin/slurmd
PIDFile=/run/slurmd.pid
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
