[Unit]
Description=SLURM database daemon
Documentation=man:slurmdbd(8)
After=network.target munge.service
Wants=munge.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmdbd
ExecStart=/usr/local/sbin/slurmdbd -D
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/slurmdbd.pid
TimeoutStartSec=0
LimitNOFILE=65536
LimitNPROC=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
