# Slurm configuration for controller
ClusterName={{ cluster_name }}
ControlMachine={{ groups['slurm_controllers'][0] }}
ControlAddr={{ hostvars[groups['slurm_controllers'][0]]['ansible_host'] }}
SlurmUser=slurm
SlurmdUser=root
SlurmctldPort=6817
SlurmdPort=6818
StateSaveLocation=/var/spool/slurm/ctld
SlurmdSpoolDir=/var/spool/slurm/d
SwitchType=switch/none
MpiDefault=none
SlurmctldPidFile=/run/slurmctld.pid
SlurmdPidFile=/run/slurmd.pid
ProctrackType=proctrack/linuxproc
TaskPlugin=task/none
SchedulerType=sched/backfill
SelectType=select/linear
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmctldDebug=info
SlurmdDebug=info
SlurmctldParameters=enable_configless
SlurmdParameters=enable_configless
# SlurmDB configuration - controller connects to slurmdb-node
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ groups['slurmdb'][0] }}
AccountingStoragePort=6819

# Enable job accounting gather
JobAcctGatherType=jobacct_gather/linux
JobAcctGatherFrequency=30

# Partition definitions
PartitionName=compute Nodes=compute-node-[1-4] Default=YES MaxTime=INFINITE State=UP
PartitionName=network1 Nodes=compute-node-[1-2] MaxTime=INFINITE State=UP
PartitionName=network2 Nodes=compute-node-[3-4] MaxTime=INFINITE State=UP

# Node definitions
{% for host in groups['slurm_computes'] %}
NodeName={{ host }} CPUs=4 Sockets=4 CoresPerSocket=1 ThreadsPerCore=1 RealMemory=1024 State=IDLE
{% endfor %}
