# Slurm cgroup configuration - disabled due to cgroup v2 issues
# CgroupMountpoint=/sys/fs/cgroup
# ConstrainCores=no
# ConstrainRAMSpace=no
# ConstrainSwapSpace=no
# ConstrainDevices=no
# ConstrainKillOnFailure=no